<p class="font-dark-blue"><strong><%= kindergarten.name %></strong></p>
<p class="mb-3"><%= kindergarten.address %></p>
<p><%= link_to 'More details', kindergarten_path(kindergarten), target: "_blank", class:"btn-pib-dark" %></p>
