@import url("https://fonts.googleapis.com/css?family=Catamaran|Rubik|Kaushan+Script");

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", "Helvetica", "sans-serif";
}

p {
  font-family: "Catamaran", "Helvetica", "sans-serif";
}

.font-dark-blue {
  color: $dark-blue;
}

h2 {
  color: $dark-blue;
}

.pib-text-link {
  color: $pink;
  transition: all ease 0.4s;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.pib-text-link-light {
  color: white;
  opacity: 0.8;
  transition: all ease 0.4s;
  &:hover {
    color: $light-blue;
    opacity: 0.5;
    text-decoration: none;
  }
}
