.banner {
  min-height: calc(100vh - 60px);
  // background-color: rgb(245, 245, 245);
}

.banner-title {
  margin: auto;
  padding-top: 50px;
  h1 {
    font-family: 'Kaushan Script', cursive;
    color: $pink;
    padding-bottom: 3vh;
    font-size: 80px;
  }
}

.banner-title-small {
  padding-top: 40px;
  h2 {
    font-family: 'Kaushan Script', cursive;
    color: $pink;
    font-size: 50px;
    padding-bottom: 10px;
  }
}

.banner-subline {
  margin: auto;
  width: 700px;
  padding: 40px 0 20px 0;
  h3 {
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
    padding: 20px 0;
  }
  p {
    font-size: 20px;
    padding-top: 20px;
  }
}

.banner-subline-small {
  padding: 10px 20px;
  h3 {
    padding: 12px 0;
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
  p {
    padding-top: 20px;
    font-size: 20px;
  }
}

.banner-icons {
  margin-top: 45px;
}

.banner-links {
  margin: auto;
  margin-top: 50px;
  width: 600px;
  color: white;
  .banner-links-container {
    color: black;
    font-size: 18px;
  }
}

.banner-links-small {
  padding: 10px 20px;
  color:black;
  margin: 0 10px;
  .banner-links-container {
    font-size: 18px;
    p {
      margin-bottom: 5px;
    }
  }
}

.timeline-link {
  border-top: 1px solid $dark-blue;
  padding-top: 10px;
}

#timeline {
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 0;
  ul {
    margin-bottom: 0;
  }
}

.timeline-header {
  text-align: center;
  padding-top: 20px;

}

@media (max-width: 768px) {
  .banner {
    padding-bottom: 10px;
  }
}
