.banner {
  min-height: calc(100vh - 60px);
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner-title {
  position: absolute;
  top: 10%;
  left: 50%;
  h1 {
    font-family: 'Kaushan Script', cursive;
    position: relative;
    left: -50%;
    color: $pink;
    padding-bottom: 5vh;
    font-size: 80px;
  }
}

.banner-title-small {
  padding-top: 40px;
  h2 {
    font-family: 'Kaushan Script', cursive;
    color: $pink;
    font-size: 50px;
    padding-bottom: 10px;
  }
}

.banner-subline {
  position: absolute;
  top: 29%;
  left: 50%;
  p, h3 {
    position: relative;
    left: -50%;
  }
  p {
    font-size: 20px;
  }
}

.banner-subline-small {
  padding: 10px 20px;
  h3 {
    padding: 12px 0;
    border-top: 1px solid $dark-blue;
    border-bottom: 1px solid $dark-blue;
  }
  p {
    padding-top: 20px;
    font-size: 20px;
  }
}

.banner-links {
  position: absolute;
  top: 52%;
  left: 50%;
  .banner-links-container {
    position: relative;
    left: -50%;
    font-size: 18px;
    background-color: rgba(250,250,250,0.7);
    padding: 30px 90px;
    border-radius: 5px;
  }
}

.banner-links-small {
  padding: 10px 20px;
  background-color: $dark-blue;
  color:white;
  .banner-links-container {
    font-size: 18px;
    p {
      margin-bottom: 5px;
    }
  }
}

.timeline-link {
  border-top: 1px solid $dark-blue;
  padding-top: 10px;
}

#timeline {
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 0;
  ul {
    margin-bottom: 0;
  }
}

.timeline-header {
  text-align: center;
}
