.kita-finder-container > p {
  width: 500px;
  font-size: 18px;
  text-align: center;
  color: $dark-blue;
  border-top: solid 1px $dark-blue;
  border-bottom: solid 1px $dark-blue;
  padding: 10px 0;
}
.kita-finder-container h1 {
  border: none !important;
}

.kita-finder-form {
  p {
    margin: 10px 0 5px 0;
  }
  #radius, #minimum_age, #places {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .kita-finder-container > p {
    width: 300px;
  }
}
