.static-container {
  min-height: calc(100vh - 120px);
  h1 {
    padding-top: 20px;
    font-family: 'Kaushan Script', cursive
  }
}

.pages-container {
  h2 {
    margin: 20px 0;
  }
  p {
    margin-bottom: 10px;
  }
}
