.form-new-reminder {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 400px;
  .datetime > .datetime {
    border-radius: 5px;
    border: 1px solid $dark-blue;
  }
}

@media (max-width: 480px) {
  .form-new-reminder > .form-group {
    margin-bottom: 5px;
  }
  .form-new-reminder > #add-new-reminder {
    margin-top: 5px;
  }
}
