.navbar-lewagon {
  height: 60px;
  justify-content: space-between;
  // border-bottom: 1px solid $pink;
  color: white;
  i {
    color: $dark-blue;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.navbar-links {
  display: flex;
  align-items: center;
  > a {
    color: $dark-blue;
    padding: 6px;
    transition: ease all 0.3s;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
