.navbar-lewagon {
  height: 60px;
  justify-content: space-between;
  background: $green;
  i {
    opacity: 0.7;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.navbar-links {
  display: flex;
  > a {
    color: #f3f9ff;
    padding: 6px;
    transition: ease all 0.3s;
    &:hover {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
