<div class="footer-box">
  <div class="ml-4">
    <%= link_to "About PiB", about_path, class: "pib-text-link-light" %> |
    <%= link_to "Lexicon", lexicon_path, class: "pib-text-link-light" %>
  </div>
  <p class="mr-4">Created in 2019</p>
</div>
