<% content_for :meta_title, "About us - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>About Pregnant in Berlin</h1>
    <h2>What is Pregnant in Berlin?</h2>
    <p><%= link_to "Pregnant in Berlin", root_path, class: "pib-text-link" %>'s first aim is to help foreign couples expecting a child to find their way in the German system concerning pregnancy and child care.</p>
    <p>Germany offers a lot of help to future parents, but navigating through the administration can prove difficult for foreigners. This is the main reason why this website was created: giving an overview of all the services that families can benefit from.</p>
  </div>
</div>
