<% content_for :meta_title, "About us - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1 class="font-dark-blue">What is Pregnant in Berlin?</h1>
    <p><%= link_to "Pregnant in Berlin", root_path, class: "pib-text-link" %>'s first aim is to help foreign couples expecting a child to find their way in the German system concerning pregnancy and child care.</p>
    <p>Germany offers a lot of help to future parents, but navigating through the administration can prove difficult for foreigners. This is the main reason why this website was created: giving an overview of all the services that families can benefit from.</p>

    <h1 class="font-dark-blue">Who's behind Pregnant in Berlin?</h1>
    <p>I'm a French web developer who arrived in Berlin in 2016. 3 years later, I got pregnant and I quickly realized I was at a loss when it came to understanding how the German system works.</p>
    <p>Sure, there are some things that were very similar to France, for instance: go see your gynecologist as soon as your pregnancy test tells you you're pregnant. But midwives do not play such an important role so early in the pregnancy as they do in Germany. Meaning that when I started looking for one when I was 4 months pregnant, I was often told it was too late and all were fully booked!</p>
    <p>And I haven't started talking about the German administration. Parental leave and the amount of money you receive from it is extremely different from the way it works in France, and looking into it proved hard especially when the language isn't my native one.</p>
    <p>This is the reason why I decided during my maternity leave to create the website I wish I had had access to from the start. A website focused on Berlin that regroups all aspects of a pregnancy, may they be administrative, medical or other, that could help other parents that are in a similar situation as mine. I hope <span class="pib-text-link">Pregnant in Berlin</span> will reach its goal and can help you during this extraordinary moment that you are currently experiencing :)</p>
  </div>
</div>
