<div class="banner text-center" style="background-image: linear-gradient(rgba(234,234,234,0.4),rgba(255,255,255,0.4)), url(https://images.unsplash.com/photo-1444838639505-f9042c5d2386?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80)">

  <div class="banner-title">
    <h1>Pregnant in Berlin</h1>
  </div>

  <div class="banner-subline">
    <p>The guide book for expecting parents living in Berlin</p>
  </div>

</div>
