<div class="container">
  <h1>Understanding the German kita system</h1>

  <h2>Subline</h2>
  <p>Content for first part</p>

  <h2>Other subline</h2>
  <p>Content for second part</p>

  <%= link_to "Kitas map", kindergartens_path, class: "btn-pib", target:"_blank" %>
</div>
