<% content_for :meta_title, "Lexicon - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>Lexicon</h1>
    <ul class="list-pib list-arrow">
      <li><%= link_to "Kindergartens / Kitas", kitas_path, class:'pib-text-link' %></li>
      <li><%= link_to "Midwives / Hebammen", midwife_system_path, class:'pib-text-link' %></li>
      <li><%= link_to "Paternity Acknowledgment / Vaterschaftanerkennung", paternity_acknowledgment_path, class:'pib-text-link' %></li>
    </ul>
  </div>
</div>
