<% content_for :meta_title, "Midwife system - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>The Midwife System in Germany</h1>
    <h2>What is a midwife?</h2>
    <p>The midwife (<i>Hebamme</i> in German) plays a very important role during the pregnancy, birth and afterwards. They are trained professionals that will assist you at each step and their care is reimbursed by the German health insurance.</p>
    <p>Midwives are extremely helpful as they will follow you during your pregnancy and can answer all the questions you have regarding any issues you currently have - may they be food restrictions, back problems etc. They will also guide you and help you make a decision between the different birth options that are available: do you want to give birth at home? at the hospital? or at a <i>Geburtshaus</i>? Many of them offer prenatal courses for couples that ensure a nice preparation to the birth and what comes next for both parents.</p>
    <p>Midwives are always present during the birth, no matter where you decide to have your baby. They will monitor you and your baby and will make sure that everything goes well. Afterwards, they will also assist you for the child care and breast-feeding as well as medical follow-up for you and your baby.</p>

    <h2>What is a Geburtshaus?</h2>
    <p>A <i>Geburtshaus</i> (literally, a birth house) is a place where you can give a natural birth. It is meant for women that would rather have a non-medical birth, surrounded only by midwives.</p>
    <p>It is important to note that a Geburtshaus will not accept to have your baby delivered in their facilities if your pregnancy falls under the "at risk" category - for instance in the case of multiple births. This is precisely due to the fact that no doctors are present and won't be able to take over right away in the case of an emergency.</p>
    <p>It is a very good alternative to giving birth at home and you are well surrounded by trained midwives. If you choose this option, you will need to find one as soon as possible, as the current baby boom in Berlin means that there are less spots available in such places.</p>

    <h2>How to find a midwife?</h2>
    <p>Since midwives play such an important role during and after the pregnancy, their care is very much sought for and it can be actually pretty hard to find one. It is recommended to start looking for one as soon as you have visited your gynecologist.</p>
    <p class="box-pib px-3 py-2"><i>Pregnant in Berlin</i> is currently working on a map that will display all the midwives located around you.</p>
  </div>
</div>
