<% content_for :meta_title, "Paternity acknowledgment - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>Paternity acknowledgment</h1>

    <h2>In which case is it necessary?</h2>
    <p>In Germany, the law concerning paternity is pretty easy: the mother's husband is the baby's father. Acknowledging paternity and claiming rights over the child as a father only need to be done if the baby's parents aren't married, or if the mother's husband isn't the baby's father.</p>
    <p>Acknowledging paternity - or <i>Vaterschatsanerkennung</i> - is rather straight forward and only requires the father to declare himself as the father of the baby. The shared common custody - <i>Beurkundung der Ausübung der gemeinsamen elterlichen Sorge</i> - requires the mother to be present, as she needs to publicly consent for the father to share custody of the child. As both parents have to be present, it is strongly recommended to <strong>do both declarations before the child is born</strong> as you might not have as much free time once your baby is there! On a more practical aspect, the child can only have its father's family name if the father acknowledged his paternity, thus being an extra reason to do the declaration before the birth.</p>

    <h2>Where to go? What to bring?</h2>
    <p>Both declarations can be done at the <i>Jugendamt</i> free of charge. Getting an appointment might take a while, but do take into account that you don't have to do it at the Jugendamt of your neighborhood (you could even do it in any other German city). Feel free to contact others in case the one you officially depend on doesn't have any availibilities that fit you. You can also potentially do it at a notary, but the costs can be expensive.</p>

  </div>
</div>
