<% content_for :meta_title, "Paternity acknowledgment - #{DEFAULT_META["meta_product_name"]}" %>

<div class="container">
  <div class="static-container pages-container">
    <h1>Paternity acknowledgment</h1>

    <h2>In which case is it necessary?</h2>
    <p>In Germany, the law concerning paternity is pretty easy: the mother's husband is the baby's father. Acknowledging paternity and claiming shared custody over the child as a father only need to be done if the baby's parents aren't married, or if the mother's husband isn't the baby's father.</p>
    <p>Acknowledging paternity - or <i>Vaterschatsanerkennung</i> - also <strong>requires the mother to be present</strong> as she needs to consent in front of the commissioner to the acknowledgment of paternity. You can do both the <i>Vaterschatsanerkennung</i> and the <i>Beurkundung der Ausübung der gemeinsamen elterlichen Sorge</i> (registration of shared custody) in one sitting. As both parents have to be present, it is strongly recommended to <strong>do both declarations before the child is born</strong> as you might not have as much free time once your baby is there! On a more practical aspect of doing so before the birth, the child can only have its father's family name if the father acknowledged his paternity, thus being an extra reason to do the declaration before the birth.</p>

    <h2>Where to go? What to bring?</h2>
    <p>Both declarations can be done together at the <i>Jugendamt</i> (youth welfare office) free of charge. You must <strong>get an appointment at the Jugendamt of the mother's residence</strong>. However most of Berlin's administration offices are aware of the long delays to get an appointment and can be understanding of your situation, so do feel free to contact other Jugendämter in case the one you officially depend on doesn't have any availibilities that fit you. You can also potentially do it at a notary, but the costs can be high.</p>
    <p>Once you have your appointment, they will ask you to <strong>send copies of all the following documents per post or email</strong>. You will need to bring the original along the day of your appointment.</p>
    <ul class="list-pib list-tick">
      <li><span class="font-dark-blue font-weight-bold font-weight-bold">ID of both parents</span></li>
      <li><span class="font-dark-blue font-weight-bold">Birth certificates of both parents</span> - if the birth certificates were delivered in another country, they shall be officially translated beforehand. Noteworthy: if you are from a EU land, some civil registry office actually offer multi-lingual birth certificates.</li>
      <li><span class="font-dark-blue"><i>If the name on the birth certificate isn't the name as the one on your ID:</i></span> bring along a justification, for instance the <span class="font-dark-blue font-weight-bold">certificate of name change or the marriage certificate</span>.</li>
      <li><span class="font-dark-blue font-weight-bold">Mutterpass or birth certificate of the child</span> if already born</li>
      <li><span class="font-dark-blue"><i>In case one or both parents do not speak sufficient German:</i></span> you will need to bring along an <span class="font-dark-blue font-weight-bold">interpreter that isn't related to any of the parents</span>. The interpreter shall have a valid ID.</li>
    </ul>

    <div class="box-pib">
      <h3>Going further</h3>
      <p>Here are the links to the official Berlin portal:</p>
      <ul class="list-pib list-arrow">
        <li><%= link_to "Paternity acknowledgment", "https://service.berlin.de/dienstleistung/318991/", target:"_blank", class:"pib-text-link" %></li>
        <li><%= link_to "Shared common custody", "https://service.berlin.de/dienstleistung/326590/", target:"_blank", class:"pib-text-link" %></li>
      </ul>
    </div>

  </div>
</div>
