.window {
  min-height: calc(100vh - 60px);
  width: 100vw;
}

.search-container {
  height: 100%;
  width: 25%;
  background-color: white;
  padding: 10px;

  .search-title {
    padding: 5px 0;
  }

  .form-container {
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 3px;
    box-shadow: 0px 0px 5px gray;
    p {
      margin: 5px 0 0 0;
    }
  }

  #radius, #minimum_age, #places {
    width: 100px;
  }
}

.search-container-small {
  height: 80px;
  width: 100vw;
  margin-bottom: 10px;

  .search-title {
    padding: 5px;
    h3 {
      margin: 0;
    }
  }
  .form-container {
    padding: 0 5px;
    .form-control {
      width: 200px;
    }
  }
  #radius, #minimum_age, #places {
    width: 58px;
  }
}

#map {
  width: 75%;
  height: calc(100vh - 60px);
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  p {
    margin-bottom: 2px;
  }
}

.marker {
  background-color: $dark-blue;
  border: 1px solid white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #map {
    width: 100vw;
    height: calc(100vh - 150px);
  }
  #map.kita-show-map {
    height: 50% !important;
  }
}
