.kita-details {
  border: solid 1px $light-gray;
  border-radius: 3px;
  padding: 10px 20px;
  float: left;
  min-width: 550px;
  p {
    margin-bottom: 0;
  }
}

.kita-details-contacts {
  border-bottom: 1px solid $light-gray;
}

.opening-times > div > div {
  border-right: 1px solid $light-gray;
  &:last-child {
    border: none;
  }
}

.map-container {
  width: 400px;
  height: 300px;
}
.kita-contacts {
  border-bottom: solid 1px $light-gray;
}
.kita-contacts-item {
  padding: 5px;
}

@media (max-width: 768px) {
  .map-container {
    width: 100%;
    height: 300px;
  }
  .kita-details {
    width: 100%;
  }
  .kita-contacts-item {
    width: 100px;
    &:first-child {
      width: 50px;
    }
    &:last-child {
      width: 300px;
    }
  }
}
