.btn-pib {
  color: $dark-blue;
  background-color: rgba(250,250,250,0.7);
  padding: 5px 15px 9px 15px;
  border: 1px solid $dark-blue;
  border-radius: 10px;
  transition: all ease 0.4s;
  &:hover {
    background-color: rgba(250,250,250,0.3);
    text-decoration: none;
    color: $dark-blue;
  }
}

.btn-pib-dark {
  color: white;
  background-color: $dark-blue;
  padding: 5px 15px 9px 15px;
  border: 1px solid $dark-blue;
  border-radius: 10px;
  transition: all ease 0.4s;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }
}

.btn-pib-pink {
  color: white;
  background-color: $pink;
  padding: 5px 15px 9px 15px;
  border: 1px solid $pink;
  border-radius: 10px;
  transition: all ease 0.4s;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }
}

.btn-short {
  padding: 5px 15px;
}

.btn-dark {
  color: white;
  background-color: $dark-blue;
  border-radius: 10px;
  transition: all ease 0.4s;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }
}

.btn-pink {
  color: white;
  background-color: $pink;
  border-radius: 10px;
  transition: all ease 0.4s;
  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.5;
  }
}

.btn-icon {
  padding: 5px 10px;
  margin: auto;
  width: 35px;
  display: block;
  margin: 1px;
}
