.timeline-small {
  list-style: none;
  padding: 20px 8px 20px;
  position: relative;
}
.timeline-small:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  margin-left: -1.5px;
}
.timeline-small > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline-small > li:before,
.timeline-small > li:after {
  content: " ";
  display: table;
}
.timeline-small > li:after {
  clear: both;
}
.timeline-small > li > .timeline-panel-small {
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  margin-right: -15px;
}
.timeline-small > li > .timeline-panel-small:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline-small > li > .timeline-panel-small:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline-small > li > .timeline-badge-small {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline-badge-small.pink {
  background-color: $pink !important;
}
.timeline-badge-small.dark-blue {
  background-color: $dark-blue !important;
}
.timeline-badge-small.yellow {
  background-color: $yellow !important;
}
.timeline-title-small {
  margin-top: 0;
  color: inherit;
}
.timeline-body-small > p,
.timeline-body-small > ul {
  margin-bottom: 0;
}
.timeline-body-small > p + p {
  margin-top: 5px;
}
