<%= simple_form_for [@kindergarten, @kita_contact], :url => kindergarten_kita_contact, :method => :patch do |f| %>
    <div class="form-inline form-new-contact">
      <div class="form-group">
        <%= f.input :contact_type,
        collection: %w(call email visit other),
        input_html: { class: "form-control" },
        label: false %>
        <%= f.input :note, input_html: { style: 'height:40px;', class: "form-control",
          placeholder: 'Add a note',
          rows: 1 },
        label: false %>
      </div>
      <%= f.submit "Edit contact", class: "btn-pib-dark" %>
    </div>
  <% end %>
